.chatlist{
    flex: 1;
    display: flex;
    flex-direction: column;
    border-bottom: .2rem solid rgb(31, 31, 31);
    border-right: .1rem solid rgb(75, 75, 75);
}

.add_user{
    display: inline-flex;
    height: 4rem;
    background-color: rgb(22, 22, 22);
    padding: 1.3rem 1rem 1.3rem 2rem ;
    border-bottom: .1rem solid rgb(75, 75, 75);
}

.add_user_input{
    border: none;
    flex: 1;
    padding-left: 0rem;
    background-color: rgb(22, 22, 22);
    color: white;
    margin-right: 1rem;
    font-size: 1.4rem
}

.add_user_input:focus{
    outline: none;
}

.add_user_button:hover{
    scale: 1.05;
}

.add_user_button, .add_user_button:active{
    border: none;
    width: 7rem;
    background-color: rgb(79, 223, 79);
    border-radius: 20px;
    color: white;
    font-size: 1.4rem;
    scale: 1;
}

.chat_list_box{
    overflow-y: auto;
    scrollbar-color: rgb(75, 75, 75) rgb(31, 31, 31);
    scrollbar-width: thin;
    background-color: rgb(31, 31, 31);
    flex:1
}

.chats{
    padding: .6rem 1rem .7rem 1rem;
    box-sizing: border-box;
    height: 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border-bottom: .1rem solid rgb(75, 75, 75);
}

.chats:hover{
    background-color: rgb(52, 52, 52);
}

.current{
    background-color: rgb(52, 52, 52);
}

.dp{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    overflow: hidden;
}

.dpImg{
    width: 100%;
    height: 100%;
}

.data{
    flex: 1;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left{
    display: flex;
    flex-direction: column;
}

.name{
    color: white;
    font-size: 1.8rem;
    display: inline-block;
    margin-bottom: .3rem;
}

.lastChat{
    color: rgb(129, 129, 129);
    font-size: 1.2rem;
}

.time{
    color: rgb(129, 129, 129)
}

.online{
    position: absolute;
    top: 1rem;
    right: 1rem;
    height: 1rem;
    width: 1rem;
    background-color: rgb(64, 255, 47);
    border-radius: 50%;
}